.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .icon-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

i {
    font-size: 25px;
}
